__pycache__
# Virtual environment
.venv
# Python package metadata (setuptools)
*.egg-info
# Folder with ONNX and .pt model files created in result of export.py script
models
# Folder with MLflow runs
mlruns